:root {
	--fontcolor: black;

	--shadowrgb: 85,85,85;
	--inforgb: 85,85,85;
	--evenrgb: 221,221,221;
	--oddrgb: 238,238,238;
	--unselectrgb: 219,219,219;
	--lightrgb: 249,249,249;

	--invalid: #d66e54;
	--uncertain: #727292;
	--changed: #07a97a;

	--contentbackgroundcolor: white;
	--shadowcolor: rgb(var(--shadowrgb));
	--infocolor: rgb(var(--inforgb));
	--evencolor: rgb(var(--evenrgb));
	--oddcolor: rgb(var(--oddrgb));
	--unselect: rgb(var(--unselectrgb));
	--lightcolor: rgb(var(--lightrgb));

	--fontsize: 1rem;
	--scrollbarwidth: 15px;
	--padding: 0.4rem;

	--menuheight: 4rem;
	--menuleft: var(--menuheight);
	--menuright: var(--scrollbarwidth);
	--menubackgroundcolor: white;
/*	--footerbackgroundcolor: grey;*/
	--menubuttonpadding: 2px;

/*	--contentheight: 91vh;*/
	--margintopcontent: 1.3rem;

	--contentlineheight: 2.4rem;

	--filterresultwidth: 28rem;
	--filtersliderwidth: 20rem;
	--choicewidth: 20rem;
	--selectwidth: 18rem;

	--tabletop: 0rem;
	--columnwidth: 20rem;
	--maxcolumns: 6; 
	--navwidth: 2rem;

	--traitsbackgroundcolor: #bbb;
	--traitscolor: var(--contentbackgroundcolor);

	--margintopmenu: 0.3rem;
	--buttonheight: 2.8rem;
	--footerheigth: 1rem;
	
	--lineheight: 1.3rem;
	--indexheight: 1.2rem;

	--propinfowidth: 7rem;
	--entitywidth: calc((100vw - var(--propinfowidth)) / var(--nbentityview) - 1px);
	--nbentityview: calc(2 + var(--nbentityviewadd));
	--nbentityviewadd: 0;
	
	--footerbottom: 0rem;
}

/* --------------------------------*/
/* ---- GLOBAL */
/* --------------------------------*/
/*html, body {width: auto!important; overflow-x: hidden!important} */

body {
	font-family: sans-serif;
	background-color: var(--menubackgroundcolor);
	margin: 0;
	padding: 0;
	font-size: var(--fontsize);
	overflow: hidden !important;
/*	scrollbar-color: transparent transparent;*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	overflow: hidden;*/
}
#global {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden !important;
/*	scrollbar-color: transparent transparent;*/
}


a { text-decoration: none; border-bottom: 1px dotted; }
dl { padding: 0; margin: 0; }
input[type=checkbox] {display: none;}
label:hover , summary {cursor: pointer;}

.displaynone {display:none;}
.dn {display:none;}
.visibilityhidden {visibility:hidden;}
.floatright {float:right;}
/* --------------------------------*/
/* ---- FOOTER */
/* --------------------------------*/
#footer a, #footer a:visited{color:var(--oddcolor);}
#footer {
/*	font-size: smaller;*/
	font-variant: all-small-caps;
	justify-content: space-between;
	display: flex;
	flex-direction:column;
	overflow-y: auto;
	padding: var(--padding);
}

/*#menu:hover {height:unset;}*/

.mode-init #menu {

}
.mode-init #footer,.mode-start #footer,.mode-settings #footer {
/*	position: absolute;*/
/*	top: var(--menuheight);*/
/*	height: calc(100% - var(--padding) * 2 - var(--menuheight));*/
/*	padding: var(--padding);*/
	flex-grow: 1;
}
.mode-settings #footer {
	padding-top: calc(var(--buttonheight) + 2 * var(--margintopmenu));
}
.mode-init #menu,.mode-start #menu {
	display: none;
}

/*button 2 states*/
.mode-explorer #btn-datalist {display:none;}
.mode-settings #btn-settings {display:none;}
/*.mode-settings #menu {*/
/*	background-color:  var(--infocolor);*/
/*	color: var(--oddcolor);*/
/*}*/

.mode-explorer #footer   {
	position: sticky;
/*	bottom:  calc(var(--padding) * 2);*/
	bottom: 0;
/*	height: 100%;*/
	overflow: unset;
/*	height: 1rem;*/
}

.mode-init .disp-init {display: block;}
.mode-start .disp-start {display: flex;}
.mode-explorer .disp-explorer {display: block;}
.mode-settings .disp-settings {display: block;}


#txt-init {transition:opacity 3s;}
/*#txt-init {transition:filter 4s ease-in;}*/
.mode-start #txt-init  {
	position: absolute;top:0;bottom:0;left:0;right:0;margin-top:auto;margin-bottom:auto;margin-left:auto;margin-right:auto;
	font-variant: initial;
	height: 2em;
	line-height: 1em;
	width: 12em;
	opacity:0;
	color: rgba(255,255,255,0.8);
	font-size: 1rem;
	font-weight: bolder;
	text-align: center;
	padding-top: 1em;
	text-shadow: -10px -0px 10px rgba(255,255,255,0.4);
	z-index: 0;
	justify-content: center;
}
.mode-init #txt-init  {
	position: absolute;top:0;bottom:0;left:0;right:0;margin-top:auto;margin-bottom:auto;margin-left:auto;margin-right:auto;
	font-variant: initial;
	height: 2em;
	line-height: 1em;
	width: 12em;
	opacity:1;
	color: rgba(255,255,255,0.8);
	font-size: 1rem;
	font-weight: bolder;
	text-align: center;
	padding-top: 1em;
	text-shadow: -10px -0px 10px rgba(255,255,255,0.4);
/*	background-color: grey;*/
	z-index: 1;
	justify-content: center;
}
.mode-init #txt-loader {
	position: absolute;top:0;bottom:0;left:0;right:0;margin-top:auto;margin-bottom:auto;margin-left:auto;margin-right:auto;
	font-variant: initial;
	height: 4em;
	line-height: 1em;
	width: 12em;

	font-size: 0.8rem;
	line-height: 0.8rem;
	color: rgba(255,255,255,0.3);
/*	max-height: 4em;*/
	display: block;
/*	overflow-y: auto;*/
/*	scrollbar-color: transparent transparent;*/
	overflow: hidden;
	z-index: 2;
}


.mode-init #txt-loader:hover { overflow: unset;color:white;}
.mode-init #txt-loader:hover + #txt-init { opacity: 0.1;}
#txt-loader::after {content: var(--txtloader);white-space:pre-wrap;}

.mode-start #img-init{
	height:80px;width:100%;
	filter: blur(20px);
	z-index: 0;
	opacity: 0.2;
}
.mode-start #img-init2{
	height:50px;width:100%;
	z-index: 0;
	opacity: 0;
}
.mode-init #img-init {
	height:80px;width:100%;
	filter: blur(20px);
	z-index: 0;
	opacity: 1;
}
.mode-init #img-init2{
	height:50px;width:100%;
	filter: blur(0px);
	z-index: 0;
	opacity: 0.5;
}
.mode-init #event::after {
	content: "starting...";
}

#settings button {
	background-color: grey;
	border: none;
	width: 1rem;
	height: 1rem;
	border: 1px solid white;
	color: grey;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0.5rem;
}


#menu {
/*	font-size: smaller;*/
	font-variant: all-small-caps;
/*	justify-content: space-between;*/
	display: flex;
	overflow: auto;
/*	position: sticky;*/
	top: 0;
	flex-shrink: 0;
	background-image: linear-gradient(to right, rgba(var(--oddrgb), 0.95), rgba(var(--evenrgb), 0.95) 50%);
	flex-wrap: wrap;
/*	height: var(--buttonheight);*/
	padding-top: var(--margintopmenu);
	padding-left: var(--margintopmenu);
	padding-bottom: calc(var(--margintopmenu) - 1px);
	position: fixed;
	z-index: 10;
	width: calc(100% - var(--margintopmenu));
	box-shadow:0 10px 10px rgba(0,0,0,0.1);
	border-bottom: 1px solid lightgrey;
}
#menu button, #menu label {
/*	background-image: linear-gradient(to right, rgba(var(--oddrgb), 0.95), rgba(var(--evenrgb), 0.95) 50%); /* TEST */
/*	background-color: grey;*/
/*	border: none;*/
/*	min-width: var(--buttonheight);*/
/*	max-width: calc(var(--buttonheight) * 4);*/
/*	height: calc(var(--buttonheight) - 0.1rem);*/
/*	border: 1px solid white;*/
/*	color: grey;*/
/*	overflow: hidden;*/
/*	text-overflow: ellipsis;*/
/*	margin-right: 0.5rem;*/
/*	white-space: pre-wrap;*/
	height:var(--buttonheight);
	width:var(--buttonheight);
	color: darkgrey;
	background-color: transparent;
	border: 1px solid gainsboro;
	margin-right: var(--margintopmenu);
	position: relative;

	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 1.2rem;
	position: relative;
	overflow: hidden;
}
#menu button:active, #menu label:active {
	border-right: none;
	border-bottom: none;
/*	filter: drop-shadow(2px 2px 4px rgba(255,255,255,1));*/
}
#menu button:active > .btnicone, #menu label:active > .btnicone {
/*	text-shadow: 2px 2px 4px rgba(255,255,255,1);*/
/*	background-color: red;*/
}
#menu button:hover, #menu label:hover {
	background-color: whitesmoke;
}
/* first button to view all menu */
#chk-viewallmenu:checked ~ #menu > #viewallmenu::after {content: "△";}
#chk-viewallmenu:checked ~ #menu {height:unset;}
#viewallmenu::after {content: "▽";}
#viewallmenu::after {
	width:100%;
	height:100%;
	text-align:center;
	vertical-align:middle;/* TODO middle doesnt work */
	display:inline-block;
	text-shadow: -10px -0px 10px rgba(0,0,0,0.4);
}
.btnicone  {
/*	border-right: 1px solid lightgrey;*/
/*	text-align: center;*/
	font-size:1.6rem;
	font-family: sans-serif;
	display: block;
	margin-top: 0.8rem;
}
.btntext  {
/*	text-align: center;*/
/*	font-size:1.3rem;*/
	position: absolute;
	top: 0;
	left: 2px;
	font-size: 0.8rem;
}
#btn-editor {
/*	background-image:url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Eedit%3C/title%3E%3Cpath fill=%22darkgrey%22 d=%22M16.77 8l1.94-2a1 1 0 000-1.41l-3.34-3.3a1 1 0 00-1.41 0L12 3.23zM1 14.25V19h4.75l9.96-9.96-4.75-4.75z%22/%3E%3C/svg%3E");*/
}
#settings > dl {
	margin: 0;
}
/*.prop-listenkeyboard-keydown .hasvalue > span, .prop-listenkeyboard-keyup .hasvalue > span,*/
#settings .key {
	border: 1px solid;
	display: inline-block;
	padding: 1px;
	border-radius: 4px;
	min-width: 1rem;
	text-align: center;
	font-size: 0.8em;
}

#footerlarge, #footer {
	width: calc(100% - var(--padding) * 2);
	background-color: var(--infocolor);
	color: var(--oddcolor);
	display: flex;
/*	flex-direction: l=;	*/
/*	flex-wrap: wrap;*/
	z-index: 2;
}
.mode-explorer #footer {
	position: fixed;
/*	bottom: calc(0px - var(--footerbottom));*/
	bottom:calc(var(--footerbottom) - var(--footerheigth));
	height: var(--footerheigth);
	padding: 0;
}

#status {
	flex-shrink: 1;	
	height: calc(var(--buttonheight) - var(--padding));
}
#settings {
	flex-shrink: 0;
	min-width: 20rem;
	padding-left: var(--padding);
	padding-right: var(--padding);
}
#readme {
	flex-shrink: 1;
}


/* Credits */
.credit {
	float: right;
	position: relative;
	display: inline-block;
}
.credit label {
	border-bottom: 1px dotted; /* If you want dots under the hoverable text */
}
.credit .credittext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	padding: 0.5rem;
	border-radius: 0.6rem;
	font-size: var(--fontsize);

	position: absolute;
/*	z-index: 1;*/
	margin-left: -14rem; /* Use half of the width (120/2 = 60), to center the tooltip */
    width: 19rem;
}
.mode-explorer .credit .credittext {
	bottom: 100%;
	left: 0%;
}
#chk-credit:checked + dl > .credittext {
	visibility: visible;
}


/* smartphone*/
@media only screen and (max-width: 424px) {
.mode-init #chk-loader:checked + label { overflow: unset;color:white;}
.mode-init #chk-loader:checked ~ #txt-init { opacity: 0.1;}
}

/*standard computer*/
@media only screen and (min-width: 424px) {
.mode-settings #footer {flex-direction:row;}
#txt-loader{cursor: unset;}
}

/* --------------------------------*/
/* ---- PROJECT LAUNCHER */
/* --------------------------------*/
.mode-init #txt-projects {filter: blur(20px);opacity:0;}
.mode-start #txt-projects {filter: blur(0px);opacity:1;}


#txt-projects {
	position: absolute;top:0;bottom:0;left:0;right:0;margin-top:auto;margin-bottom:auto;margin-left:auto;margin-right:auto;
	font-variant: initial;
	width: 80%;
	height: 70vw;
/*	display: flex;*/
	flex-wrap: wrap;
/*	background-color: rgba(255,100,100,0.4);*/
	justify-content: space-evenly;
	align-content: space-evenly;
	transition:filter 1.2s, opacity 4s;
}
#txt-projects label {
/*	width:6em;height:6em;*/
	margin-bottom: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	position: relative;
}
#txt-projects label:hover {
	background-color: rgba(255,255,255,0.1);
	overflow: unset;
}

.mode-start .app {
	width:3em;height:3em;
	color: rgba(255,255,255,0.3);
	border: 1px solid;
}
.mode-start .project {
	width:6em;height:6em;
	border: 1px dotted grey;
}

.mode-start .projectimage {
	height: 100%;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: 1rem;
	position: absolute;
	padding-top: 3rem;
	font-weight: bold;
}
.mode-start .projectname {
	position: absolute;
	top: 0; left: 2px;
	font-variant: all-small-caps;
}
.mode-start .projectdata {
	position: absolute;
	bottom: 0; left: 2px;
	font-size: 0.5rem;
}

/* --------------------------------*/
/* ---- CONTENT */
/* --------------------------------*/
.mode-explorer #content {
	display: flex;
/*	flex-direction: column;*/
	flex-wrap: wrap;
	overflow: auto;
	padding-top: calc(var(--buttonheight) + 2 * var(--margintopmenu));
	height: calc(100vh - var(--buttonheight) - 2 * var(--margintopmenu));
/*	height: calc(100vh - var(--buttonheight) - var(--margintopmenu));*/
	align-content: flex-start;
	flex-shrink: 0;
	scroll-snap-type: x mandatory;
/*	scroll-padding: var(--propinfowidth);*/
/*	background-color: whitesmoke;*/
/*	padding: var(--padding);*/
}
#content .hastrait {
	background-color:rgba(152,152,152,0.5);
	color: whitesmoke;
	font-variant: all-small-caps;
	border-right: 1px dotted gainsboro;
}
#content .hasvalue {
	background-color:WhiteSmoke;
	border-right: 1px dotted gainsboro;
}
#content .isquery {
	border: 1px solid lightgrey;
	border-radius: 1rem;
}
#content .isimage {
/*	border: 1px solid lightgrey;*/
/*	border-radius: 1rem;*/
	width: 100%;
	height: 0;
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: contain;
/*	height: 5rem;*/
	padding-top: 55%;
}
#content .iscode  {
	font-family: "Courier New", monospace;
	white-space: pre;
	text-align: left;
	tab-size: 2;
	-moz-tab-size: 2;
}

#content .isdetail {
	position: absolute;
	top: calc(var(--buttonheight) * 2 + 2 * var(--margintopmenu));
	left: 0;right: 0;
	top: 0;bottom: 0;
	margin-left: auto;margin-right: auto;
	margin-top: auto;margin-bottom: auto;
	height: 70vh;
	width: 80vw;
	z-index: 10;

	background-repeat: no-repeat;
	background-position-x: center;
	background-size: contain;
	background-color: whitesmoke;
	border: 2px solid white;
	padding: 0.5rem;
	box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.1);
}
/*#content div.iscode:hover ~ textarea {*/
/*	display: block;*/
/*}*/
/*#content .iscode:hover {*/
/*	max-height: unset;*/
/*	overflow: unset;*/
/*}*/

#content .hasvalue > div {
	overflow: hidden;
	text-overflow: '..';
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
/*	flex: 1;*/
}

#content .edited > input {
	width: 100%;
	border: none;
	background-color: transparent;
	font-size: inherit;
}
/*#content .hasvalue:hover {*/
/*	overflow: unset;*/
/*	z-index: 1;*/
/*}*/
/*#content .hasvalue:hover > span {*/
/*	background-color: whitesmoke;*/
/*}*/
/*#content .hasvalue:hover > span::after {*/
/*}*/
#content .defaultvalue {
	color: gray;
}
#content .hasnullvalue {
	background-color:WhiteSmoke;
	border-right: 1px dotted gainsboro;
}
#content .hasnullvalue::after {
	content: '-';
}
#content .no {
	border-right: 1px dotted gainsboro;
}
#content .traitbox {
	display: flex;
	flex-direction: column;
	scroll-snap-align:end;
}
#content .traitinfo {
	height: 0;
}
#content .prop, #content .trait {
	display: flex;
	min-width: calc(100vw - var(--scrollbarwidth));

/*	scroll-padding:calc(var(--indexheight) * 2);*/
}

#content .prop > div, #content .trait > div {
	width: var(--entitywidth);
	height: 0;
/*	height: calc(2 * (1rem + 0.25rem));*/
	flex-shrink: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	justify-content: space-around;
}
#content .prop > .propinfo, #content .trait > .traitinfo  {
	width: var(--propinfowidth);
	height: 0;
	order: -1;
	position: sticky;
	left: 0;
	font-variant: all-small-caps;
	border-right: unset;
	text-align: left;
	z-index: 2;
	background-color:rgba(255,255,255,0.9);
}
#content .prop > .propinfo:hover > div, #content .trait > .traitinfo:hover > div {
	display: inline-block;
	position: absolute;
/*	width: 10rem;*/
/*	height: 10rem;*/
	left: var(--propinfowidth);
	background-color:red;
}

#content .prop > .propinfo {color: grey;}
#content .trait > .traitinfo {color: lightgrey;background-color:grey;}
#content .prop > .propinfo:hover,#content .trait > .traitinfo:hover {
	overflow: unset;
/*	white-space: unset;*/
/*	width: unset;*/
/*	background-color: white;*/
/*	height: 20rem;*/
}
#content .trait-INDEX {height:var(--indexheight);z-index:4;position: sticky;top: 0;
/*scroll-snap-align:start;*/
background-color:rgba(180,180,180,0.8);
color: rgb(235,235,235);
font-weight: bold;
}
#content .trait-INDEX .trait > div {
	color:unset;
/*	color:lightgrey;*/
	text-align:center;
	background-image:unset;
/*	background-color:rgba(25,255,255,0.8);*/
	background-color: transparent;
	scroll-snap-align:end;
}
#content .trait-INDEX .trait > .traitinfo {
	background-color: rgba(80,80,80,0.5);
	text-align:left;
}

/*standard computer*/
@media only screen and (min-width: 424px) {
:root {
	--nbentityview: calc(8 + var(--nbentityviewadd));
}
/*#content .mobile {display:none;}*/
/*#content .prop > .propinfo {background-color:rgba(211,211,211,0.9);}*/
/*#content .traitbox:nth-child(2) .trait > div {background-image:unset;}*/
/*.mode-explorer #content {scroll-snap-type: unset;}*/
}

#content .traitbox > .hastrait ~ .trait > .traitinfo {display:block;height:unset;}
#content .traitbox > .hastrait ~ .prop > .propinfo {display:block;height:unset;}
#content .trait > div {display:unset;height:100%;}
#content .prop > div {display:flex;height:unset;}
/*#content .traitbox > .hastrait ~ .prop > div {background-color:wheat;}*/


#content .traitbox:nth-child(2) {position:sticky;top:var(--indexheight);z-index:5;
box-shadow:0 10px 10px rgba(0,0,0,0.1);
background-color:rgba(180,180,180,0.8);
/*color: grey;*/
color: white;
text-shadow:0 5px 5px rgba(80,80,80,0.5);
}
#content .traitbox:nth-child(2) .trait > div {
	color:lightgrey;
	background-color: transparent;
	text-align: center;
	display: none;
}
#content .traitbox:nth-child(2) .prop > div {
	color:unset;
/*	background-color:rgba(255,255,255,0.8);*/
	background-color: transparent;
	text-align: center;
}
#content .traitbox:nth-child(2) .trait > .traitinfo {
	color:lightgrey;
	background-color: white;
	text-align: right;
	z-index: 6;
	display: none;
}
#content .traitbox:nth-child(2) .prop > .propinfo {
/*	color:lightgrey;*/
	background-color: rgba(80,80,80,0.5);
	text-align: left;
	z-index: 6;
/*	opacity: 0;*/
}
/*#content .traitbox:nth-child(2) {top:var(--indexheight);}*/
/*#content .traitbox:nth-child(5) .trait {*/
/*	display: none;*/
/*}*/
#content .traitbox:first-child > .propinfo {
/*	z-index: 2;*/
}
/*#content .traitbox > .hastrait:nth-child(1) ~ .trait > .traitinfo {display:block;height:var(--lineheight);}*/
/*#content .traitbox > .hastrait:nth-child(1) ~ .prop > .propinfo {display:block;height:var(--lineheight);}*/
/*#content .trait > :nth-child(1) {display:unset;height:var(--lineheight);}*/
/*#content .prop > :nth-child(1) {display:unset;height:var(--lineheight);}*/

/*#content .traitbox > .hastrait:nth-child(3) ~ .trait > .traitinfo {display:block;height:var(--lineheight);}*/
/*#content .traitbox > .hastrait:nth-child(3) ~ .prop > .propinfo {display:block;height:var(--lineheight);}*/
/*#content .trait > :nth-child(3) {display:unset;height:var(--lineheight);}*/
/*#content .prop > :nth-child(3) {display:unset;height:var(--lineheight);}*/

/*#content .traitbox > .hastrait:nth-child(7) ~ .trait > .traitinfo {display:block;height:var(--lineheight);}*/
/*#content .traitbox > .hastrait:nth-child(7) ~ .prop > .propinfo {display:block;height:var(--lineheight);}*/
/*#content .trait > :nth-child(7) {display:unset;height:var(--lineheight);}*/
/*#content .prop > :nth-child(7) {display:unset;height:var(--lineheight);}*/

/*#content .trait > .hastrait:nth-child(1) ~ .prop > :nth-child(1) {display:unset;height: 1.2rem;}*/
/*#content { GRID*/
/*	grid-template-columns: 8rem;*/
/*	grid-template-rows: 1.2rem;*/
/*	grid-auto-columns: 8rem;*/
/*	grid-auto-rows: 1.2rem;*/
/*	display: grid;*/
/*	padding: var(--padding);*//
/*}*/
