:root {
	--fontcolor: black;

	--shadowrgb: 85,85,85;
	--inforgb: 85,85,85;
	--evenrgb: 221,221,221;
	--oddrgb: 238,238,238;
	--unselectrgb: 219,219,219;
	--lightrgb: 249,249,249;

	--invalid: #d66e54;
	--uncertain: #727292;
	--changed: #07a97a;

	--contentbackgroundcolor: white;
	--shadowcolor: rgb(var(--shadowrgb));
	--infocolor: rgb(var(--inforgb));
	--evencolor: rgb(var(--evenrgb));
	--oddcolor: rgb(var(--oddrgb));
	--unselect: rgb(var(--unselectrgb));
	--lightcolor: rgb(var(--lightrgb));

	--fontsize: 1rem;
	--scrollbarwidth: 15px;
	--padding: 4px;

	--menuheight: 4rem;
	--menuleft: var(--menuheight);
	--menuright: var(--scrollbarwidth);
	--menubackgroundcolor: white;
/*	--footerbackgroundcolor: grey;*/
	--menubuttonpadding: 2px;

	--footerheigth: 1rem;

/*	--contentheight: 91vh;*/
	--margintopcontent: 1.3rem;

	--contentlineheight: 2.4rem;

	--filterresultwidth: 28rem;
	--filtersliderwidth: 20rem;
	--choicewidth: 20rem;
	--selectwidth: 18rem;

	--tabletop: 0rem;
	--columnwidth: 20rem;
	--maxcolumns: 6; 
	--navwidth: 2rem;

	--traitsbackgroundcolor: #bbb;
	--traitscolor: var(--contentbackgroundcolor);


}

/* --------------------------------*/
/* ---- INIT */
/* --------------------------------*/


body {
	font-family: sans-serif;
	background-color: var(--menubackgroundcolor);
	margin: 0;
	font-size: var(--fontsize);
/*	display: flex;*/
/*	flex-direction: column;*/
/*	overflow: hidden;*/
}
input[type=checkbox] {
	display: none;
}
label:hover , summary {
	cursor: pointer;
}
input[readonly] {
	cursor: default;
}
/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-size: var(--fontsize);

  /* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* internationalisation interface boilerplate */
:root {
--txt-select: "select";
--txt-select-2: "select";
--txt-notknown: "notknown";
--txt-notknown-2: "notknown";
--txt-data: "data";
--txt-data-2: "data";
--txt-comparemode: "comparemode";
--txt-detailmode: "detailmode";
--txt-viewmode: "viewmode";
--txt-editormode: "editormode";
--txt-viewresult: "viewresult";
--txt-invalid: "invalid";
--txt-reload: "reload";
--txt-language: "language";
--txt-starting: "click on reload icon in top left";
}

.txt-select::after {			content: var(--txt-select); }
.txt-select-2::after {			content: var(--txt-select-2); }
.txt-notknown::after {			content: var(--txt-notknown); }
.txt-notknown-2::after {		content: var(--txt-notknown-2); }
.txt-data::after {				content: var(--txt-data); }
.txt-data-2::after {			content: var(--txt-data-2); }
.txt-selectmode::after {		content: var(--txt-selectmode); }
.txt-viewresult::after {		content: var(--txt-viewresult); }
.txt-invalid::after {			content: var(--txt-invalid); }
.txt-reload::after {			content: var(--txt-reload); }
.txt-language::after {			content: var(--txt-language); }
.txt-starting::after {			content: var(--txt-starting); }


/* TEST GENERATION CALC */
.lay-wheel{
	background-color: red;
	width: 4em;
	height: 30em;
	position: absolute;
}
.svg-layouttopwheels-base {
	display: none;
}
/* TEST GENERATION CALC */

.slider-box {
	width: 100%;
}
.slider-box:hover input[type=range]::-moz-range-track {
	background: var(--evencolor);
	height: 10px;
}
.slider-box:hover input[type=range]::-moz-range-thumb {
/*  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  border: 1px solid var(--evencolor);
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}
.slider-box:hover input[type=range]::-moz-range-track {
	background: var(--evencolor);
	height: 10px;
}

.slider-box:hover input[type=range]::-webkit-slider-runnable-track {
	background: var(--evencolor);
	height: 10px;
}

.slider-box:hover input[type=range]::-webkit-slider-thumb {
/*  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  border: 1px solid var(--evencolor);
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  margin-top: 0; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/*Slider reset appearance*/
input[type=range] {
	width: 100%;
	-webkit-appearance: none;
	background: transparent; /* Otherwise white in Chrome */
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
/*input[type=range]::-ms-track {*/
/*  width: 100%;*/
/*  cursor: pointer;*/

  /* Hides the slider so custom styles can be added */
/*  background: transparent; */
/*  border-color: transparent;*/
/*  color: transparent;*/
/*}*/
/* THUMB */
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid white;
  height: 10px;
  width: 4px;
/*  border-radius: 5px;*/
  background: var(--evencolor);
  cursor: pointer;
  margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
/*  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
/*  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  border: 1px solid white;
  height: 10px;
  width: 2px;
/*  border-radius: 5px;*/
  background: var(--evencolor);
  cursor: pointer;
}
/*/* All the same stuff for IE */
/*input[type=range]::-ms-thumb {*/
/*/*  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
/*  border: 1px solid white;*/
/*  height: 10px;*/
/*  width: 2px;*/
/*/*  border-radius: 5px;*/
/*  background: var(--evencolor);*/
/*  cursor: pointer;*/
/*}*/

/* TRACK */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
/*  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: var(--evencolor);
/*  border-radius: 1.3px;*/
/*  border: 0.2px solid #010101;*/
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
/*  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: var(--evencolor);
/*  border-radius: 1.3px;*/
/*  border: 0.2px solid #010101;*/
}

/* --------------------------------*/
/* ---- STARTING SCREEN */
/* --------------------------------*/
.starting {
	display: grid;
	grid-template-columns: auto 1rem var(--filterresultwidth);
}
.starting span {
	text-align: center;
}
.imageattenuate {
/*	filter: blur(var(--value, 1rem));*/
	filter: grayscale(100%)
}
/* --------------------------------*/
/* ---- MENU : div#menu */
/* --------------------------------*/
#global {
/*	display: grid;*/
/*	grid-template-columns: var(--menuleft) auto var(--menuright);*/
/*	grid-template-rows: var(--menuheight) var(--contentheight) auto;*/
}
#menu {
	background-image: linear-gradient(to right, rgba(var(--oddrgb), 0.95), rgba(var(--evenrgb), 0.95) 50%); /* TEST */
	box-shadow: 3px 7px 20px rgba(var(--shadowrgb), 0.4);
	margin-bottom: 1rem; /* TEST */
	font-variant: all-small-caps;
	position: sticky;
	border-radius: 1rem;
	border: 1px solid transparent;
	top: 0;
	z-index: 1;
}
#option-uncertain:checked ~ #menu label[for=option-uncertain], #option-invalid:checked ~ #menu label[for=option-invalid] {
	text-decoration: line-through;
}
#option-uncertain:checked ~ #content #result .uncertain, #option-uncertain:checked ~ #content #select .uncertain {
	display: none;
}
#option-invalid:checked ~ #content #result .invalid, #option-invalid:checked ~ #content #select .invalid {
	display: none;
}
#option-comparator {
	display: none;
}
#menu label[for=option-comparator]::after {
	content: var(--txt-comparemode) " ↵";
}
#option-comparator:checked ~ #menu label[for=option-comparator] {
	background-color: white;
	color: grey;
}
#option-comparator:checked ~ #menu label[for=option-comparator]::after {
	content: var(--txt-detailmode) " ↵";
}
#menu label[for=option-editor]::after {
	content: var(--txt-editormode) " ↵";
}
#option-editor:checked ~ #content {
	--traitsbackgroundcolor: darkred;
}
#option-editor:checked ~ #menu label[for=option-editor] {
	background-color: darkred;
/*	color: grey;*/
}
#option-editor:checked ~ #menu label[for=option-editor]::after {
/*	content: var(--txt-viewmode) " ↵";*/
}
#option-editor:checked ~ #footer {
/*	background-color: darkred;*/
}
.floatright {
	float: right;
	padding: var(--menubuttonpadding);
}
.label-button {
	background-color: grey;
	color: white;
	width: 9rem;
	display: inline-block;
	font-variant: all-small-caps;
	padding: var(--menubuttonpadding);
	vertical-align: super;
	margin-left: 0.6rem;
	text-align: center;
}
.square-button {
	border: none;
	width: 2.5rem;
	font-size: 2rem;
/*	margin-left: 0.5rem;*/
	background-color: transparent;
}
#langselect {
	display: flex;
	flex-direction: column;
/*	line-height: 0.8rem;*/
	margin-left: 1rem;
	width: 2rem;
	position: fixed;
	right: 0;
	top: 1rem;
}
#langselect:hover {
/*	position: absolute;*/
}
#langselect:hover a {
	display: unset;
}
#langselect a {
	text-decoration: none;
	color: var(--unselect);
	display: none;
}
#langselect a:hover {
	color: var(--infocolor);
}
#langselect a.langactive {
	color: var(--infocolor);
	display: unset;
}
#sliderpage {
	display: none;
/*	display: flex;*/
	position: fixed;
	top: calc(var(--menuheight) - 0rem);
	left: calc(var(--choicewidth) + 1rem);
	height: 1.7rem;
	z-index: 1;
}
#sliderpagerange {
	width: calc(100% - var(--choicewidth) - var(--selectwidth) - 2 * var(--navwidth) - 2rem)
}
#sliderpagenum, #sliderpageid {
	padding: 0;
	margin: 0;
	margin-bottom: 0.2rem;

	font-size: 0.7rem;
	border: none;
	background-color: transparent;
	color: var(--infocolor);
	margin: 0;
}
#sliderpagenum {
	width: 1.2rem;
}
#sliderpageid {
	width: 3rem;
}
#sliderpagenum::-webkit-outer-spin-button,
#sliderpagenum::-webkit-inner-spin-button,
#choice input[type=number]
{
    -webkit-appearance: none;
}
#sliderpagenum,
#sliderpagenum,
#choice input[type=number]
{
  	-moz-appearance: textfield;
}

/*#sliderpagenum:hover {*/
/*  	-moz-appearance: unset;*/
/* 	-webkit-appearance: unset;*/
/*}*/
.nav {
	width: var(--navwidth);
	height: calc(100vh - var(--menuheight) - var(--margintopcontent) - var(--footerheigth));
	position: sticky;
	top: calc(var(--menuheight) + var(--margintopcontent));
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.nav:hover {
	background-color: var(--lightcolor);
}
.nav > input[type=text] {
	background-color: transparent;
	padding: 0;
	margin: 0;
	writing-mode: vertical-rl;
	height: 10rem;
	border: none;
	color: var(--infocolor);
}
.nav > button {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	text-align:center;
	font-size: 4.5rem;
/*	font-weight: bold;*/
	color: var(--oddcolor);
}
.nav > button:hover {
	color: var(--evencolor);
}
#scrollonenext::after {
	content: "⟩";
}
#scrolloneprev::after {
	content: "⟨";
}
#scrollpagenext::after {
	content: "⟫";
}
#scrollpagenext {
	display: none;
}
#scrollpageprev::after {
	content: "⟪";
}
#scrollpageprev {
	display: none;
}
#val-scrollpageprev, #val-scrollpagenext, #val-scrolloneprev, #val-scrollonenext {
	display: none;
}
#option-comparator:checked ~ #content #scrollpageprev, #option-comparator:checked ~ #content #scrollpagenext {
	display: unset;
}

#scrolloneprev, #scrollonenext {
	height: 100%;
}
/* --------------------------------*/
/* ---- FOOTER : div#footer */
/* --------------------------------*/
#footer {
/*	grid-row-start: 3;*/
/*	grid-column: span 3;*/
/*	text-align: right;*/
	font-size: smaller;
/*	background-image: linear-gradient(rgba(var(--unselectrgb),0.85), rgba(255,255,255,0.85));*/
	font-variant: all-small-caps;
/*	color: var(--infocolor);*/
	position: sticky;
	bottom: 0;
	justify-content: space-between;
}
#footer a, #footerlarge a {
	color: var(--oddcolor);
	text-decoration: none;
	border-bottom: 1px dotted #888
}
#credit {
	float: right;
}
#footerlarge, #footer {
	width: 100%;
	background-color: var(--infocolor);
	color: var(--oddcolor);
	display: flex;
/*	flex-direction: l=;	*/
/*	flex-wrap: wrap;*/

}
#footerlarge input[type=checkbox] {
	display: unset;
}
#footerlarge dt {
	color: #999;
}
#footerlarge dd {
	padding-bottom: 0.5rem;
}
#footerlarge > dl {
	padding: 1rem;
	border-left: 1px dashed #999;
}
#footerlarge > dl:nth-child(odd) {
/*	border-left: unset;*/
/*	max-width: 35rem;*/
}
#footerlarge > dl > dd {
	margin: 0;
}
#settings button {
	background-color: grey;
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid white;
	color: white;
	margin-right: 0.5rem;
}
#settings > dl {
	margin: 0;
}
#settings .key {
	border: 1px solid;
	display: inline-block;
	padding: 1px;
	border-radius: 4px;
	min-width: 1rem;
	text-align: center;
}
#readme::after {
	content: var(--README);
/*	white-space: pre;*/
}
#readme {
	margin-left: 1rem;
	margin-right: 1rem;
	max-width: 34rem;
	font-size: 0.7rem;
	white-space: break-spaces;
}
#readme ul {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	list-style: none;
	padding-left: 1rem;
}
#readme li::before {
	content: "- ";
}
#readme h3 {
/*	font-size: ;*/
	font-variant: small-caps;
	letter-spacing: 0.1rem;
}
#readme h4 {
	font-size: initial;
	margin-top: 0.5rem;
	margin-bottom: 0;
	font-weight: 400;
	color: #999;
}
#project-lastactivity ul {
	padding-left: 0;
	list-style: none;	
}
/* --------------------------------*/
/* ---- CONTENT : div#content */
/* --------------------------------*/
#content {
/*	grid-column-start: 1;*/
/*	grid-column-end: span 3;*/
/*	overflow-y: auto;*/
/*	height: var(--contentheight);*/
	display: flex;
	align-items: flex-start;
/*	display: grid;*/
/*	flex-wrap: wrap;*/
/*  overflow: auto;*/
	--maxcolumns: 1;
	padding-top: var(--margintopcontent);
}
#content #result > details {
	width: calc((100% - 2 * var(--navwidth)) / var(--maxcolumns));
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100vh - var(--menuheight) - 2rem);
	scrollbar-color: var(--lightcolor) transparent;
}
#content #result > details:not(.visiblepage) {
	display: none;
}

/* --------------------------------*/
/* ---- EDITOR MODE */
/* --------------------------------*/
#content > #choice .editor-input {
	display: none;
	width: 6.7rem;
}
#option-editor:checked ~ #content .editor-input {
	display: unset;
}
#option-editor:checked ~ #content .property-info > input:not(.editor-input) {
	display: none;
}
#option-editor:checked ~ #content .filterseparator, #option-editor:checked ~ #content .slider-box {
	display: none;
}
/* --------------------------------*/
/* ---- ---- SELECT LIST ITEMS : div#select */
/* --------------------------------*/
#option-select:checked ~ #content > #select {
	display: flex;
}
#select {
	width: var(--selectwidth);
	position: sticky;
	top: calc(var(--menuheight) + var(--margintopcontent));
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
	height: calc(100vh - var(--menuheight) - 2rem);

	font-size: 0.9rem;
	overflow-x: auto;
	scrollbar-color: var(--oddcolor) transparent;
}
#select dl {
	display: none;
/*	grid-template-columns: max-content auto;*/
}
#select label {
	white-space: nowrap;
}
#select .numname {
	font-size: 0.5rem;
	margin-right: 0.5rem;
	color: var(--infocolor);
}

.cursor .labelname {
	font-weight: bold;
}
#select .visiblepage .numname {
	font-weight: bold;
	color: unset;
}

/* --------------------------------*/
/* ---- ---- FILTER : div#choice */
/* --------------------------------*/
#choice {
/*	max-width: 100rem;*/
	width: var(--choicewidth);
	margin-right: 0;
	background-color: var(--contentbackgroundcolor);
/*	margin-top: 1rem;*/
/*	display: grid;*/
	display: flex;
	flex-direction: column;
}
#choice .impl {
	display: flex;
/*	flex-direction: row-reverse;*/
}
#choice .impl-summary {
	background-color: var(--traitsbackgroundcolor);
	writing-mode: vertical-rl;
/*	grid-column: 1;*/
/*	height: calc(var(--contentlineheight));*/
	border: 1px solid var(--traitscolor);
	border-radius: 6px;
/*		display: block;*/
}
#choice .impl-summary label {
	color: var(--traitscolor);
	padding-top: 1rem;
	writing-mode: vertical-rl;
/*	background-color: var(--traitsbackgroundcolor);*/
	max-height: calc(var(--contentlineheight) + 1px - 1rem);
	display: inline-block;
	font-size: 0.9rem;

}
#choice .implbox {
/*	grid-column: 2;*/
	width: calc(100% - 1rem - 2px);
}
#choice .impl:not([open]) {
}
/*#choice .impl-summary label :nth-child(odd)*/

#choice input[type=number] {
	background-color: transparent;
	padding: 0;
	margin: 0;
	width: 2.5rem;
	border: none;
	color: var(--infocolor);
}
#choice input[type=text] {
	background-color: transparent;
	padding: 0;
	margin: 0;
/*	width: 2.5rem;*/
	border: none;
	color: var(--infocolor);
}


.vm-property {
	grid-column: 1;
/*	display: grid;*/
/*	display: flex;*/
	height: var(--contentlineheight);
	gap: 1em;

	grid-template-columns: 2fr 1fr var(--filtersliderwidth) 1rem;
	padding: var(--padding) 0;
/*	vertical-align: middle;*/
	padding-left: 0.5rem;
	border-bottom: 1px solid var(--oddcolor);
	height: var(--contentlineheight);
	padding-top: 0;
	padding-bottom: 0;
}
#option-comparator:checked ~ #content #choice .vm-property {
}
.vm-property > .text:first-letter {
	text-transform: uppercase;
}
.vm-property > .text {
	text-align: left;
}

.property-filter {
	display: flex;
	width: 100%;	
}


.vm-property:nth-child(even) {
	background-image: linear-gradient(to right, var(--evencolor), transparent 50%);
}
.vm-property:nth-child(odd) {
	background-image: linear-gradient(to right, var(--oddcolor), transparent 50%);
}
.vm-property:last-child {
	border-bottom: 1px dashed gray;
}
#option-comparator:checked ~ #content #choice .vm-property:nth-child(odd) {
/*	background-image: linear-gradient(to right, var(--oddcolor), transparent);*/
}
#option-comparator:checked ~ #content #choice .vm-property:nth-child(even) {
/*	background-image: linear-gradient(to right, var(--evencolor), transparent);*/
}

.property-title {
	grid-column: 1;
	color: var(--fontcolor);
/*	font-size: var(--fontsize);*/
	white-space: nowrap;
	font-size: small;
}
#option-comparator:checked ~ #content #choice .property-title {
}

.property-help {
	cursor: help;
}
.property-boxes {
	grid-column: span 2;
	display: flex;
	overflow: hidden;
	color: var(--infocolor);
}

.property-box {

	overflow: hidden;
	text-overflow: "‥";

	font-size: 0.8rem;
	padding: 0px 2px 0px 2px;
	margin: 0 3px 2px 0;
	white-space: nowrap;
	border: 1px solid var(--infocolor);
	border-radius: 4px;
}
.property-box label {



}
.property-box:hover {
	overflow: unset;
}

#option-comparator:checked ~ #content #choice .property-box {
}
.part {
/*	background-color: red;*/
}
#result dd > span {
	display: inline-block;
}

.property-info {
	grid-column: 2;
	text-align: left;
	color: var(--infocolor);
	font-size: 0.8rem;
	white-space: nowrap;
	width: 11rem;
	margin-top: 0.1rem;
}
#option-comparator:checked ~ #content #choice .property-info {
}

.property-slider {
	grid-column: 3;
}
.property-slider input {
	margin: 0;
}

/* if filter item select, change style*/
#choice input[type=checkbox]:checked + label {
	border-color: var(--changed);
	color: var(--changed);
	overflow: unset;
}
.property-changed, .property-changed .property-info, #choice .property-changed input[type=number] {
	color: var(--changed);
}
.property-changed .property-boxes {
	border-color: var(--changed);
}

/* TRACK */
.impl .slider-box {
	position: relative;
}
.impl .slider-box > input[type=range]:last-child {
	position: absolute;
	top: -12px;
	left: 0;
}
.property-changed .slider-box input[type=range]::-moz-range-thumb {
	background: var(--changed);
}
.property-changed .slider-box input[type=range]::-moz-range-track {
/*	background: var(--changed);*/
/*	height: 1px;*/
}



/* --------------------------------*/
/* ---- ---- FILTER : div#result */
/* --------------------------------*/
#result {
/*	flex-grow: 1;*/
	background-color: var(--contentbackgroundcolor);
	position: sticky;
	top: calc(var(--menuheight) + var(--margintopcontent));
	width: calc(100% - var(--choicewidth) - var(--selectwidth) - var(--navwidth) * 0);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
/*	padding-top: var(--contentlineheight);*/
}
.vm-valid summary {
	color: var(--fontcolor);
}
.invalid .labelname, label[for=option-invalid] {
	color: var(--invalid);
}
.uncertain .labelname, label[for=option-uncertain] {
	color: var(--uncertain);
}
dt.prop-image {
	display: none;
}
div.prop-image {
/*	display: none;*/
	height: 20rem;
	background-size: cover;
	background-position: center;
	margin-top: -3.6rem;
/*	box-shadow: 4px 4px 10px rgba(var(--inforgb),0.6);*/
	border-radius: 5px;
}
.prop-image img {
/*	position: fixed;*/
/*	width: calc((100% - var(--choicewidth) - var(--selectwidth) - 6rem) / var(--maxcolumns));*/
	margin-bottom: 1.7rem;
	max-width: calc(var(--contentlineheight) * 3);
	display: none;
	border-radius: 5px;
}
#option-comparator:checked ~ #content .prop-image img {

}
.gradient-image {
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 20%, transparent 100%);
	height: 100%;
}
#option-comparator:checked ~ #content .prop-image img, #option-comparator:checked ~ #content dt.prop-image {
	display: unset;
}
#option-comparator:checked ~ #content div.prop-image {
	display: none;
}
#imageArea {
	height: calc(var(--contentlineheight) * 2 + 1px);
}

#result .prop-website {

}
#result .prop-website a {
	font-size: 0.8rem;
	overflow: hidden;
	text-overflow: "‥";
	white-space: nowrap;
	text-decoration: none;
	
}
#result .prop-nodata {
	display: none;
}
#result dl {
	display: grid;
	grid-template-columns: 18rem auto;
	gap: 0.5rem;
}

#result dt {
	grid-column: 1;
}
#result dt::before {
	content: "- ";
}
#result dd {
	grid-column: 2;
	margin-left: 0;
}
#result details:not([open]) summary {
/*	color: var(--unselect);*/
	opacity: 0.3;
}
#result details[open].invalid dl, #result details[open].uncertain dl {
	color: var(--infocolor);
}
#result details > summary {
/*	font-variant: all-small-caps;*/
}
#result details > summary label {
	font-size: 3rem;
	text-shadow: 0 0 8px black;
	font-weight: bold;
	color: rgba(255,255,255,0.3);
	mix-blend-mode: difference;
	padding: 1rem;
	margin-left: 2rem;


}
#option-comparator:checked ~ #content #result details > summary label {
	text-shadow: unset;
	font-weight: unset;
	color: unset;
	mix-blend-mode: unset;
	margin-left: unset;
	padding: 0;
}

#result details > summary::marker {
	content: "";
}

/* --------------------------------*/
/* ---- ---- COMPARATOR : div#choice */
/* --------------------------------*/
#option-comparator:checked ~ #content {
	--maxcolumns: unset;
/*	display: grid;*/
/*	grid-template-columns: max-content auto;*/
/*	background-image: linear-gradient(to right, var(--oddcolor), transparent 30%)*/
}

#option-comparator:checked ~ #content #choice {
/*	grid-column: 1;*/
/*	width: unset;*/
/*	padding-top: var(--tabletop);*/
/*	margin-right: 0;*/
/*	margin-top: unset;*/
}
#option-comparator:checked ~ #content #sliderpage {
/*	display: flex;*/
}

/* --------------------------------*/
/* ---- ---- COMPARATOR : div#result */
/* --------------------------------*/
/* select item name in comparator view */
#option-comparator:checked ~ #content #result {
	position: unset;
	overflow-y: unset;
/*	padding-top: var(--contentlineheight);*/
}
#option-comparator:checked ~ #content #result details {
/*	background-image: linear-gradient(var(--unselect), transparent 3rem)*/
/*	width: calc((100% - 2 * var(--navwidth)) / var(--maxcolumns));*/
	margin: unset;
	padding: unset;
	overflow-y: unset;
	overflow-x: unset;
	height: unset;
}
#option-comparator:checked ~ #content #result details:not([open]) {
	color: var(--unselect);
/*	background-image: linear-gradient(var(--unselect), transparent 25%);*/
	writing-mode: vertical-rl;
	width: 0;
	order: 1;
}
#option-comparator:checked ~ #content #result details:not([open]) summary {
	right: var(--scrollbarwidth);
	top: calc(var(--menuheight) + 1rem);
}
#option-comparator:checked ~ #content  .property-box {

}
#option-comparator:checked ~ #content .property-box:hover {

}
#option-comparator:checked ~ #content #result dd {

}
/*#option-comparator:checked ~ div #result dd:nth-child(4n) {*/
/*	border-bottom: 1px solid var(--oddcolor);*/
/*}*/
/*#option-comparator:checked ~ div #result dd:nth-child(4n+2) {*/
/*	border-bottom: 1px solid var(--evencolor);*/
/*}*/


/*#option-comparator:checked ~ #content #choice .property-slider,*/
/*#option-comparator:checked ~ #content #choice input[type="checkbox"]:not(:checked) ~ label,*/
#option-comparator:checked ~ #content #result dt {
	display: none;
}
#option-comparator:checked ~ #content #result summary {
/*	display: grid;*/
}
#option-comparator:checked ~ #content #result dl {
	display: block;
	margin-top: var(--tabletop);
}
#option-comparator:checked ~ #content .itemboxes:hover {
	background-color: var(--lightcolor);
}
/*#option-comparator:checked ~ #content #result details:hover summary {*/
/*	color: var(--infocolor);*/
/*}*/

#option-comparator:checked ~ #content #result dl:hover dd {
/*border-color: var(--evencolor);*/
}
#option-comparator:checked ~ #content #result summary {
	white-space: nowrap;
	position: fixed;
	top: calc(var(--menuheight) - 1.4rem);
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 50%,transparent);
	height: 2rem;
	width: calc((100% - var(--choicewidth) - var(--selectwidth) + 4rem) / var(--maxcolumns));
	padding-top: 0.5rem;

/*	font-weight: bold;*/
/*	top: 2rem;*/
/*	margin-left: -1.6rem;*/
/*	letter-spacing: 0.3rem;*/
/*	writing-mode: vertical-lr;*/
/*	font-size: 2rem;*/
	color: var(--infocolor);
}
#option-comparator:checked ~ #content #result summary label {
	font-size: unset;
/*	position: fixed;*/
}
#option-comparator:checked ~ #content #result dd {
	padding: var(--padding) 0.4rem;
/*	overflow: hidden;*/
/*	text-overflow: ellipsis;*/
/*	white-space: nowrap;*/
/*	max-width: var(--columnwidth);*/
/*	line-height: rem(--contentlineheight);*/
/*	line-height: 1rem;*/
	height: calc(var(--contentlineheight) - 0.5rem); /* TODO propre */
	border-bottom: 1px solid var(--oddcolor);
	display: flex;
	align-items: center;
}
#option-comparator:checked ~ #content #result dd.prop-nodata {
	display: block;
	color: var(--oddcolor);
}
#option-comparator:checked ~ #content #result dd.prop-nodata::before {
	content: ".";
}

/* --------------------------------*/
/* ---- ---- DETAIL : div#result */
/* --------------------------------*/
.checkicon::before {
	content: "";
}
