body {
/*	jeux de donnée */
--txt-weight: "poids";
--txt-length: "longueur";
--txt-width: "largeur";
--txt-height: "hauteur";
--txt-groundclearance: "garde au sol";
--txt-trackwidth: "voie";
--txt-wheelbase: "empattement";
--txt-minlengthdriver: "taille min. conducteur";
--txt-maxlengthdriver: "taille max. conducteur";
--txt-minxseam: "X-Seam min.";
--txt-maxxseam: "X-Seam max.";
--txt-maxshoulderwidth: "largeur des épaules max.";
--txt-maxthighwidth: "largeur entre caissons de roues";
--txt-maxshoesize: "pointure max. des chaussures";
--txt-driversopeningwidth: "largeur ouverture conducteur";
--txt-driversopeninglength: "longueur ouverture conducteur";
--txt-luggagecapacity: "capacité bagages";
--txt-maxfrontwheelwidth: "largeur max. pneus avant";
--txt-maxrearwheeldiameter: "diametre max. roue arrière";
--txt-turningcircle28mm: "rayon de braquage pneux 28mm";
--txt-turningcircle40mm: "rayon de braquage pneux 40mm";
--txt-mindevelopment: "développement min.";
--txt-maxdevelopment: "développement max.";

--txt-comfortablespeed: "vitesse de confort";
--txt-comfortablespeed-low: "< 32 km/h";
--txt-comfortablespeed-medium: "32-36 km/h";
--txt-comfortablespeed-high: "37-43 km/h";
--txt-comfortablespeed-speed: "> 43 km/h";

--txt-steering: "direction possible";
--txt-steering-tiller: "centrale";
--txt-steering-sidestick: "commandes latérales";

--txt-frontwheels: "passages de roues avant";
--txt-frontwheels-open: "ouvert";
--txt-frontwheels-covered: "fermé";

--txt-hood: "toit";
--txt-hood-removablehood: "amovible";
--txt-hood-foldinghood: "dépliant";
--txt-hood-foamcover: "mousse";
--txt-hood-tarp: "bâche";

--txt-hoodtransport: "transport du toit";
--txt-hoodtransport-hoodyes: "possible toit dur";
--txt-hoodtransport-hoodno: "non-possible toit dur";
--txt-hoodtransport-foamcoveryes: "possible toit mousse";
--txt-hoodtransport-foamcoverno: "non-possible toit mousse";

--txt-openchain: "exposition chaîne";
--txt-openchain-open: "non-protégée";
--txt-openchain-covered: "protégée";

--txt-maintenance: "maintenance";
--txt-maintenance-maintenanchole: "trappe d\'accès";
--txt-maintenance-removablefront: "avant détachable";
--txt-maintenance-removableend: "arrière détachable";
--txt-maintenance-openend: "arrière ouvert";

--txt-motorizable: "motorisation possible";
--txt-motorizable-hub: "moyeux roue";
--txt-motorizable-bottombracket: "chaîne pédalier";
--txt-motorizable-intermediate: "chaîne position centrale";

--txt-overallcharacter: "conduite";
--txt-overallcharacter-city: "ville";
--txt-overallcharacter-travel: "voyage";
--txt-overallcharacter-race: "course";

--txt-sidewindsensitivity: "sensibilité vent de travers";
--txt-sidewindsensitivity-high: "forte";
--txt-sidewindsensitivity-medium: "moyenne";
--txt-sidewindsensitivity-low: "faible";

--txt-curvestability: "stabilité en virage";
--txt-curvestability-low: "faible";
--txt-curvestability-medium: "moyenne";
--txt-curvestability-high: "forte";

--txt-pricefrom: "prix à partir de";
--txt-builtfrom: "fabriqué depuis";
--txt-builtuntil: "fabriqué jusqu'en";

--txt-buyable: "disponible à l\'achat";
--txt-buyable-yes: "oui";

--txt-website: "site web du fabricant";
}
