body {
/*	francisation de l'interface, -2 correspond aux pluriels */
--txt-select: "sélectionné";
--txt-select-2: "sélectionnés";
--txt-notknown: "non renseigné";
--txt-notknown-2: "non renseignés";
--txt-data: "donnée";
--txt-data-2: "données";
--txt-comparemode: "Voir comparatif";
--txt-detailmode: "Voir détail";
--txt-editormode: "Modifier";
--txt-viewmode: "Visualiser";
--txt-viewresult: "Afficher les résultats";
--txt-invalid: "Hors paramètres";
--txt-reload: "Recharger";
--txt-language: "Language";
--txt-starting: "Bienvenue sur l'écran d'accueil. Pour charger les données, cliquez sur la flêche 'recharger' en haut à gauche";
}
