body {
--txt-weight: "Gewicht";
--txt-length: "Länge";
--txt-width: "Breite";
--txt-height: "Höhe";
--txt-groundclearance: "Bodenfreiheit";
--txt-trackwidth: "Spurbreite";
--txt-wheelbase: "Radstand";
--txt-minlengthdriver: "min. Länge Fahrer";
--txt-maxlengthdriver: "max. Länge Fahrer";
--txt-minxseam: "min. X-Seam";
--txt-maxxseam: "max. X-Seam";
--txt-maxshoulderwidth: "max. Schulterbreite";
--txt-maxthighwidth: "Breite zwischen Radkästen";
--txt-maxshoesize: "max. Schuhgröße";
--txt-driversopeningwidth: "Breite Fahreröffnung";
--txt-driversopeninglength: "Länge Fahreröffnung";
--txt-luggagecapacity: "Packvolumen";
--txt-maxfrontwheelwidth: "max. Reifenbreite vorne";
--txt-maxrearwheeldiameter: "max. Reifendurchmesser hinten";
--txt-turningcircle28mm: "Wendekreis bei 28mm";
--txt-turningcircle40mm: "Wendekreis bei 40mm";
--txt-mindevelopment: "min. Entfaltung";
--txt-maxdevelopment: "max. Entfaltung";

--txt-comfortablespeed: "Wohlfühlgeschwindigkeit";
--txt-comfortablespeed-low: "< 32 km/h";
--txt-comfortablespeed-medium: "32-36 km/h";
--txt-comfortablespeed-high: "37-43 km/h";
--txt-comfortablespeed-speed: "> 43 km/h";

--txt-steering: "Lenkung";
--txt-steering-tiller: "tiller";
--txt-steering-sidestick: "Panzerlenkung";

--txt-frontwheels: "Vorderräder";
--txt-frontwheels-open: "offen";
--txt-frontwheels-covered: "geschlossen";

--txt-hood: "Haube";
--txt-hood-removablehood: "abnehmbare Haube";
--txt-hood-foldinghood: "klappbare Haube";
--txt-hood-foamcover: "Schaumdeckel";
--txt-hood-tarp: "Plane";

--txt-hoodtransport: "Haube transportierbar";
--txt-hoodtransport-hoodyes: "Haube ja";
--txt-hoodtransport-hoodno: "Haube nein";
--txt-hoodtransport-foamcoveryes: "Schaumdeckel ja";
--txt-hoodtransport-foamcoverno: "Schaumdeckel nein";

--txt-openchain: "Kette";
--txt-openchain-open: "offen";
--txt-openchain-covered: "verkleidet";

--txt-maintenance: "Wartbarkeit";
--txt-maintenance-maintenanchole: "Wartungsklappe";
--txt-maintenance-removablefront: "abnehmbare Front";
--txt-maintenance-removableend: "abnehmbares Heck";
--txt-maintenance-openend: "offenes Heck";

--txt-motorizable: "mögliche Motorposition";
--txt-motorizable-hub: "Nabe";
--txt-motorizable-bottombracket: "Tretlager";
--txt-motorizable-intermediate: "Zwischengetriebe";

--txt-overallcharacter: "Fahrcharakter";
--txt-overallcharacter-city: "Stadt";
--txt-overallcharacter-travel: "Reise";
--txt-overallcharacter-race: "Rennsport";

--txt-sidewindsensitivity: "Seitenwind-Empfindlichkeit";
--txt-sidewindsensitivity-high: "hoch";
--txt-sidewindsensitivity-medium: "mittel";
--txt-sidewindsensitivity-low: "niedrig";

--txt-curvestability: "Kurvenstabilität";
--txt-curvestability-low: "niedrig";
--txt-curvestability-medium: "mittel";
--txt-curvestability-high: "hoch";

--txt-pricefrom: "Preis ab";
--txt-builtfrom: "gebaut ab";
--txt-builtuntil: "gebaut bis";

--txt-buyable: "aktuell kaufbar";
--txt-buyable-yes: "oui";

--txt-website: "Hersteller-Webseite";
}
